header + hr {
    width: 50%;
}

body {
    background: rgba(0, 0, 1, 0.75);
}

header, nav, footer {
    text-align: center;
}

header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0;
}

nav a:hover, nav .active {
    transition: 0.3s;
    border-bottom: 2px solid orange;
    font-size: 2em;
}

nav {
    padding-bottom: 15px;
}

nav a {
    font-size: 1.8em;
    color: black;
    text-decoration: none;
}

nav a:nth-child(2) {
    margin: 0 15px;
}

.container {
    width: 960px;
    background: rgba(255,255,254,0.6);
    border-radius: 15px;
    margin: 0 auto;
}

footer p {
    margin: 0;
}

main {
    font-size: 1.3em;
}

main > figure {
    float: left;
}

main > figure img {
    width: 500px;
    border-radius: 50px;
}

main > figure + div {
    float: left;
    width: 240px;
}

main + hr {
    clear: both;
}

.expTable {
    margin: 0 auto;
}

.expTable th {
    background-color: #351a00;
    color: orange;
    font-weight: bold;
}

.expTable td {
    background-color: #753900;
    color: white;
    text-align: center;
}

.expTable + ul {
    padding-left: 200px;
}

.hobby {
    color: yellow;
}

.contactForm {
    width: 760px;
    margin: 0 auto;
}

.contactForm iframe {
    height: 1200px;
    overflow: hidden;
}